<?xml version="1.0"?>
<!-- {{ ansible_managed }} -->
<yandex>
  <remote_servers>
{% for shard_name, replicas in clickhouse_shards.items() | list %}
    <{{ shard_name }}>
{%   for replica in replicas %}
      <shard>
        <internal_replication>true</internal_replication>
        <weight>{{ replica['weight'] | default(1) }}</weight>
{%     for member in replica['members'] %}
        <replica>
          <host>{{ member['host'] }}</host>
          <port>{{ member['port'] | default(9000) }}</port>
        </replica>
{%     endfor %}
      </shard>
{%   endfor %}
    </{{ shard_name }}>
{% endfor %}
  </remote_servers>
</yandex>
